.table_admin {
  &-row {
    background-color: white;
    text-wrap: wrap;
    word-wrap: break-word;
    &>td {
      max-width: 10vw;
      max-height: 20px;
    }
    
    &_head {
      text-align: center;
    }
    
    &--longText{
      font-size: 0.60rem;
      text-align: center;
      overflow: hidden;
      
    }
    
    &--button {
      text-align: center;
      button {
        height: 30px;
        border-radius: 2px;
        box-shadow: 0px 1px 3px black;
        border: 0px;
        margin: 5px;
        &:active{
          box-shadow: 0px 1px 2px #1c1c1c;
          background-color: #b5b5b5;
        }
      }
      
    }
  }
  
  
  
  
}