#root {
  .card {
    background-color: $secondary-color;
    form {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: 25px;
      width: 550px;
      background-color: white;
      border-radius: 5px;
      .mb-3 {
        display: flex;
        flex-direction: column;
        #genre {
          text-align: center;
        }
      }
    }
  }
}