
.exchangeCards{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 

.exchangesStage1{
    display: flex;
    justify-content: center; /* Vízszintesen középre */
    height:max-content; /* Teljes képernyőmagasság */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    

    .card{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        //gap: 10px;
        max-width: 500px;
        width: 100%;
        justify-content: center;
        align-items: center;
        //position: absolute;
        overflow-wrap: break-word;
        white-space: normal;
        max-height: 500px;
        margin: 10px;

        .card-header{
            width: 100%;
        }
        .card-body{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            //gap: 10px;
            max-width: 500px;
            width: 100%;
            justify-content: center;
            align-items: center;
            //position: absolute;
            overflow-wrap: break-word;
            white-space: normal;
            max-height: 400px;
            //margin: 10px;

            .incomingProfile{
                text-align: center;

                .user--profile-picture{
                    flex: 3;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    object-fit: cover;
                    max-width: 100px;
                    transition: all 0.2s;
                    border-radius: 999px;
                    box-shadow: 2px 5px 10px black;
                
                    .userProfileName {
                            color: #FFFFFF;
                            margin: 0;
                            font-size: 1rem;
                            text-align:unset;
                        }
            }
        
                
            }
       
        

        
        .wantedBook2{
            overflow-wrap: break-word;
            white-space: normal;
            width: 150px;
            max-height: 600px;
            text-align: center;
            .exchange-books__image{
                flex: 3;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
                object-fit: cover;
                max-width: 100px;
                transition: all 0.2s;
                box-shadow: 2px 5px 10px black;
            }
            .exchange-books__title{
                overflow-wrap: break-word;
                white-space: normal;
                display: block;
                word-wrap: break-word;
                
            }

        }
        
        .arrow{
            flex: 1;
            text-align: center;
        }
    }
    .card-footer{
        width: 100%;
    }
}
    

}

}