.navbar {
    color: $primary-text-color;
    width: 100%;
    padding: 0px;
    background-color: $ternary-background-color;

    .container-fluid {
        background-color: $secondary-background-color;
        padding: 10px;
        
        .navbar-nav {
            height: 50px;
            .navbar-item {
                display: flex;
                align-items: center;
                .nav-link {
                    font-size: 1.2rem;
                    padding: 0px;
                    margin: 1rem;
                    color: #FFFFFF;
                    &:hover {
                        opacity: 75%;
                        color: #363636;
                        text-shadow: #312f2f 0.2px 0.2px;
                    }
    
                    &:active {
                        color: #382e38;
                    }
                }
            }
        }

        .navbar-profile {
            height: 50px;
            display: flex;
            flex-direction: row;
            gap: 10px;           
            align-items: center;
            
            .user{
                &--profile-picture {
                    width: 50px;
                    height: 50px;
                    padding: 1px;
                    border-radius: 999px;
                    background-color: white;
                    border: 1.2px solid black;
                }

                &--name {
                    color: #FFFFFF;
                    margin: 0;
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
        
    }
}