 
.other-profile-page-choose{
    display: flex;
    align-items: flex-start; // Igazítás a tetején
    gap: 20px; // Távolság a profil és a könyvek között
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    //overflow-y: auto; /* Ha túl sok a tartalom, legyen görgethető */
    min-height: 100%;

  
    .otherUserProfileInfo {
      flex: 1; // A bal oldali profil egy kisebb rész
      max-width: 300px; // Ne legyen túl széles
      background: $primary-background-color; // Világos háttér a kiemeléshez
      padding: 20px;
      border-radius: 10px;
      margin: 20px;
      margin-left: 30px;
      
  
      h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      img {
        margin-top: 20px;
        margin-bottom: 20px;
        object-fit: cover;
        
      }
  
      p {
        font-size: 14px;
        color: #555;
      }
      small {
        text-align: center;
        font-style: italic;
        opacity: .5;
        
        display: block; 
      }
      span {
        font-style: italic;
        opacity: .5;
      }
      
    }
    
  
    .otherUserBooksInfo {
        
      
  
      .konyv {
        flex: 3;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: flex-start;
        flex-direction: column;
        
        .card{
            background-color: $primary-background-color;
            flex-direction: column;
            display: flex;
            //flex-wrap: wrap;
            justify-content: flex-start;
            
            //flex: 1 1 30%; /* Minél kisebb a % érték, annál több könyvet tudsz elhelyezni egy sorban */
            /*display: flex; 
            margin: 15px;
            border-radius: 5px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.871);*/
            .button_section{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
            .allofit{
                flex-direction: row;
                //flex: 1;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                .imagecontainer{
                    max-width: 40vh;
                             
                    margin: auto;
                    padding: 0.5em;

                    .all-available-books-other__image{
                        max-width: 40vh;
                             
                        margin: auto;
                        padding: 0.5em;
                    }

                }
            
            
            .card-body{
                display: flex;  /* Rugalmas elrendezés */
                flex-direction: row; /* Alapértelmezetten sorban helyezkedjenek el az elemek */
                align-items:flex-start;
                justify-content: flex-start;
                //flex-wrap: wrap;  /* Engedélyezi a tördelést, ha a hely szűk */
                //min-width: 20vh;  /* Min szélesség, amit a kártya fenntart */
                padding: 15px;
                gap: 20px; 
                flex-wrap: nowrap;            /* Ne tördelj, amíg van elég hely */
                
                /*padding: 15px;
                flex-direction: row;*/
                .text-section{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                    flex-grow: 1;                 /* Lehetővé teszi, hogy a szöveg kitöltse a rendelkezésre álló helyet */
                    //max-width: 60%;               /* Maximális szélesség */
                    //box-sizing: border-box;      /* Box model kezelés */
                    word-wrap: break-word;       /* Szavak tördelése, ha túl hosszúak */
                    //min-width: 100px;
                    flex-shrink: 1;               /* Ha szükséges, szűkíthető */

                
                .card-title{
                    text-align: left;
                    overflow-wrap: break-word;
                    white-space: normal;
                    word-wrap: break-word;
                }
                .list-group{
                    background-color: inherit;
              }
              .list-group-item{
                background-color: inherit;
                text-align: left;

                .text-muted{
                  span{
                    font-style: italic;
                    opacity: .5;
                  }
                }
              }
              .no-b{
                
                border: none;
            }
        
        }
            .all-available-books-other {  
                /*display: flex;
                flex-direction: row;
                width: 100%;
                padding: 10px;
                margin: 15px;
                border-bottom: 1px solid rgba(128, 128, 128, 0.871);
                border-radius: 5px;*/
                &__details {
                    /*flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 15px;*/
                  &-left {
                    /*display: flex;
                    align-items: center;
                    justify-content: center;*/
                    &__image {
                      /*max-width: 40vh;
                      //object-fit: cover;
                      margin: auto;
                      padding: 0.5em;*/
                    }
                    /*&-right {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        margin-left: 10px;
                        padding: 15px;
                        width: 100%;
                        align-self: center;
                        &__text {
                            font-size: 1rem;
                            word-wrap: break-word;
                            text-wrap: wrap;
                            font-weight: bolder;
                          }
                    }*/
                    
            }      
               
                    
            }
          } 
            } 
        }
    } 
    }
  }


}



/* Media query - ha a képernyő szélessége kisebb, mint 768px, az elemek egymás alá kerülnek */
@media (max-width: 268px) {
    .allofit {
        flex-direction: column; /* A kép és a szöveg oszlopban helyezkedjenek el */
    }

    .imagecontainer, .card-body {
        max-width: 100%; /* A kép és a szöveg kitöltse a rendelkezésre álló szélességet */
    }

    .card-body {
        flex-direction: column; /* A kártya tartalmának is oszlop irányú elrendezése */
    }
}