// S Z I N E K
$primary-text-color: #3e2723e6; // Mély barna
$secondary-text-color: #616161; // Szürke
$primary-background-color: #F5ECE0; // Antik papírszín
$secondary-background-color: #BCAAA4; // Bézs
$ternary-background-color: #C5A8D6; // Lila árnyalat
$accent-color: #A899B5; // Világos lila árnyalat
$background-color: #F5ECE0; // Antik papírszín
$success-color: #02af02;
$primary-color: #79667ed0;  // Sötét lila
$text-color: #2C1A19; // Sötétbarna szöveg szín
$button-color: #4E342E; // Barna gomb szín
$secondary-color: #BCAAA4; // Bézs
$very-light-purple: #D5CFE1;

