@import 'colors';
@import 'variables';
@import 'components/navbar.scss';
@import 'components/loader.scss';
@import 'components/book_upload_form.scss';
@import 'components/admin_table.scss';
@import 'components/admin_content.scss';
@import 'components/user_profile.scss';
@import 'components/books.scss';
@import 'components/all_av_books.scss';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Cormorant+Garamond:wght@400;700&display=swap');
@import 'components/modal.scss';
@import 'components/other_prof.scss';
@import 'components/exchanges.scss';
@import 'components/other_prof_choose.scss';
@import 'components/admin_stats.scss';



.App {
    max-width: $max-width;
}

body {
    background-color: $background-color;
    //font-family: 'Cormorant Garamond', serif;

    color: $text-color;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background-color: $background-color;
    font-size: 16px;
}

#root {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        min-height: 100vh;
        padding-top: 100px;
        justify-content: flex-start;
        overflow: visible;

        .fraunces-font {
            font-family: "Fraunces", serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-variation-settings:
                "SOFT" 400,
                "WONK" 500;
        }
    }

    .navbar {
        background-color: rgba(121, 102, 126, 0.9);
        width: 100%;
        padding: 15px 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: $primary-background-color;
        //cim navban:
        align-items: center;
        justify-content: center;
        display: flex;

        .title-in-navbar {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 2.2rem;
            font-weight: bold;
            text-align: center;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            color: $primary-text-color;
        }

        //cim navban vege
    }

    .navbar .list-group {
        transition: all 0.2s;
        position: fixed;
        top: 80%;
        left: 0;
        width: 40vh;
        height: 91vh;
        overflow-y: auto;
        background-color: rgba(250, 250, 250, 0.9);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;

    }



    .nav-link {
        color: $text-color;
        transition: color 0.3s, text-shadow 0.3s;
        font-family: 'Playfair Display', serif;
        font-weight: 700;

        &:hover {
            color: $accent-color;
            text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
        }
    }


    .navbar-nav {
        .nav-link {
            font-size: 1.1rem;
            font-weight: bold;
            color: $text-color;
            padding: 10px 20px;
            display: block;

            &:hover {
                opacity: 85%;
                color: $primary-color;
                text-shadow: $primary-color 0.2px 0.2px;
            }
        }
    }

    .navbar-profile img {
        border-radius: 50%;
        border: 3px solid $secondary-background-color;
    }



    .card {
        max-width: 1200px;
        width: 75vh;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s;

        /*&:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        }*/
    }

    .btn-primary {
        background-color: $button-color;
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        border: none;
        transition: all 0.2s ease-in-out, transform 0.2s;
        margin: 5px;

        &:hover {
            background-color: $primary-color;
            //transform: scale(1.05);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        }

        &:active {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
        }
    }

    ul.list-group.ps-3 {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        backdrop-filter: blur(8px);
        position: relative;
        z-index: 10;
        padding: 5px 0;
        width: 100%;
    }


    ul.list-group.ps-3 .nav-link {
        font-size: 1rem;
        color: #2C1A19;
        padding: 8px 20px;
        text-decoration: none;
    }


    ul.list-group.ps-3 .nav-link:hover {
        color: #A899B5;
        text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    }



    /* .list-group {
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        max-height: 400px; 
        overflow-y: auto; 
        background-color: $primary-background-color; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    } */

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 125vh;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: $primary-color;
        margin: 0;
        padding: 10px;
        margin-top: 80px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 40px;
        width: 100%;
        max-width: 1200px;
        padding: 20px;
    }

    .welcome-box,
    .image {
        flex: 1 1 45%;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .welcome-box {
        height: auto;
        padding: 40px 25px;
        display: flex;
        font-size: 1.2rem;
        line-height: 1.8;
        flex-direction: column;
        justify-content: flex-start;

        h2 {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 2rem;
            color: $primary-color;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 1.15rem;
                margin-bottom: 18px;
            }
        }
    }

    article {
        flex: 1;
        min-width: 300px;
        height: 50vh;
        display: flex;
        //background-image: url("#{$assetPath}kep2.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }


    aside {
        flex: 1;
        min-width: 300px;
        height: 50vh;
        background-color: white;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    h1,
    h2,
    h3 {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        color: $primary-text-color;
        margin-top: 50px;
    }

    .p {
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        color: $secondary-text-color;
        white-space: normal;
        margin: 5px 0;
    }

    .ajanlas {
        width: 100%;
        max-width: 1200px;
        margin: 40px auto;
        padding: 30px 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);

        h5 {
            font-size: 1.6rem;
            text-align: center;
            color: $primary-color;
            margin-bottom: 20px;
        }
    }

    .ajanlas ul {
        display: flex;
        list-style: none;
        gap: 40px;
        justify-content: center;
        padding: 30px 0;
    }

    .ajanlas li {
        list-style-type: none;
    }

    .latvany {
        overflow: hidden;
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    .latvany-inner {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        list-style: none;
        margin: 0;
    }

    .book-item {
        width: 220px; 
        padding: 20px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;


        /*   img {
            width: 100%;
            max-height: 200px;
            object-fit: contain;
            border-radius: 5px;
        } */


        &:hover {
            transform: scale(1.05);
        }

        h6 {
            font-size: 1.1rem;
            margin-top: 10px;
        }

        p {
            font-size: 0.95rem;
        }
    }

}

.kezdolapBooks {
    width: 100%;
    height: auto;
    max-height: 280px; 
    object-fit: cover; 
    border-radius: 10px;
}

h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

p {
    font-size: 14px;
    color: #666;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal button {
    margin: 10px;
}


/*  @media (max-width: 768px) {
        .book-item {
            width: 100%;
            max-width: 300px;
        }

        .container {
            flex-direction: column;
            gap: 20px;
        }

        .navbar {
            padding: 10px 0;
        }


        ul.list-group.ps-3 {
            width: 80%;
            left: 10%;
        }

    } */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .welcome-box,
    .image {
        width: 100%;
        max-width: 100%;
        aspect-ratio: auto;
    }

    .book-item {
        width: 100%;
        max-width: 300px;
        margin: auto;
    }

    .kezdolapBooks {
        max-height: 250px;
    }
}


.btn {
    &:active {
        background-color: gray !important;
        border: 0px !important;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
}